.container{
    height: 50px;
    display: flex;
    width: 100%;
    background-color: white;
    z-index: 998;
    div{
        display: flex;
        width: 100%;
    }
    .lineId{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        border-bottom: 1px solid black;
        span{
            cursor: pointer;
        }
    }
    .lineTime{
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        span{
            cursor: pointer;
        }
        
    }
    
    .lineNum{
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        border-left: none;
        span{
            cursor: pointer;
        }
    }
    
    .lineName{
        width: calc(100% - 820px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
        span{
            cursor: pointer;
        }
    }
}



.containerRed{
    background-color: rgb(249, 155, 155);
}

.containerYellow{
    background-color: rgb(241, 241, 160);
}

.containerChoose{
    background-color: rgb(176, 206, 233);
}