.container{
    height: 50px;
    display: flex;
    width: 100%;
    background-color: white;
    z-index: 998;
    div{
        display: flex;
        width: 100%;
    }
    .lineId{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        border-bottom: 1px solid black;
        span{
            cursor: pointer;
        }
    }
    .lineTime{
        width: 200px;

        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        span{
            cursor: pointer;
        }
        
    }
    
    .lineNum{
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        border-left: none;
        span{
            cursor: pointer;
        }
    }
    .lineInventory{
        width: calc(100% - 870px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        border-right: none;
        span{
            cursor: pointer;
        }
    }
    
    .lineName{
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
        span{
            cursor: pointer;
        }
    }
}



.containerRed{
    background-color: rgb(249, 155, 155);
}

.containerYellow{
    background-color: rgb(241, 241, 160);
}

.containerChoose{
    background-color: rgb(176, 206, 233);
}

@media only screen and (max-device-width: 500px) {
    .container{
        span{
            font-size: 10px;
        }
        width: 100%;
        font-size: 10px;
        .lineId{
            font-size: 10px;
            text-align: center;
            width: 50px;
        }
        .lineTime{
            text-align: center;
            width: 80px;      
        }
        
        .lineNum{
            text-align: center;
            width: 100px;
        }
        .lineInventory{
            text-align: center;
            width: calc(100% - 320px);
        }
        
        .lineName{
            text-align: center;
            width: 90px;
        }
    }
}