.container{
    height: 50px;
    display: flex;
    width: 100%;
    background-color: white;
    .lineId{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6%;
        border-bottom: 1px solid black;
        span{
            cursor: pointer;
        }
    }
    
    .lineNum{
        width: 59%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        span{
            cursor: pointer;
        }
    }
    
    .lineName{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        border-right: none;
        span{
            cursor: pointer;
        }
    }
    .inventoryName{
        margin-left: 5px;
    }
}

.containerChoose{
    background-color: rgb(176, 206, 233);
}
