.container{
    height: 50px;
    display: flex;
    width: 100%;
    background-color: white;
    z-index: 998;
    .deleteUser{
        position:absolute;
        display: none;
        cursor: pointer;
        img{
            width: 35px;
            height: 35px;
        }
    }
    &:hover{
        background-color: rgb(209, 209, 209);
        .deleteUser{
            display: block;
            position: absolute;
            right: 10px;
            cursor: pointer;
            img{
                width: 35px;
                height: 35px;
            }
        }
    }
    .lineId{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        border-bottom: 1px solid black;
        span{
            cursor: pointer;
        }
    }
    
    .lineNum{
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        border-right: none;
        span{
            cursor: pointer;
        }
    }
    
    .lineName{
        width: calc(100% - 588px);
        
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-top: none;
        border-right: none;
        span{
            cursor: pointer;
        }

    }
    .inventoryName{
        margin-left: 5px;
    }
}

.containerChoose{
    background-color: rgb(176, 206, 233);
}

@media only screen and (max-device-width: 500px) {
    .container{
        span{
            font-size: 13px;
        }
        width: 100%;
        font-size: 12px;
        .lineId{
            text-align: center;
            width: 50px;
        }
        
        .lineNum{
            text-align: center;
            width: 140px;
        }
        
        .lineName{
            text-align: center;
            width: calc(100% - 190px);
        }
    }
}
